---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Easycarp">
    <h1>Informacion de Easycarp</h1>

<p>
    Easy carp es un encarpada manual para camiones tolvas y bateas
</p>
</Layout>
