---
const images = [
  { src: "/images/miau.jpg", title: "Naranjita", desc: "La mas bonita" },
  { src: "/images/rep1.jpg", title: "Reparacion gato", desc: "" },
  { src: "/images/rep2.jpg", title: "Levantamiento puerta", desc: "" }
 
  
];
---

<section class="py-3 bg-grey-500 rounded-xl">
  <div class="max-w-6xl mx-auto px-4">
    
    <div class="grid md:grid-cols-3 gap-6">
      {images.map((img) => (
        <div class="bg-gray-700 rounded-lg shadow-md overflow-hidden">
          <img src={img.src} alt={img.title} class="w-full h-60 object-cover" />
          <div class="p-4">
            <h3 class="text-lg font-semibold text-white">{img.title}</h3>
            <p class="text-gray-600 text-white">{img.desc}</p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
